<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark" style = "background-color : #303030">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">Litter</a>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li [hidden] = "loggedIn == false" class="nav-item active">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
    </ul >

    <!-- Search form -->
    <form [hidden] = "loggedIn == false" class="form-inline active-cyan-3 active-cyan-4">
      <i class="fas fa-search" aria-hidden="true" style = "color : white"></i>
      <input #q class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
             aria-label="Search" style = "background-color: #4c4c4c; color: white" (keyup.enter)="search(q.value)">
    </form>


    <!-- Links -->
    <ul class="navbar-nav">
      <li [hidden] = "loggedIn == true" class="nav-item">
        <a class="nav-link" routerLink="/login">Log In</a>
      </li>
      <li [hidden] = "loggedIn == true" class="nav-item">
        <a class="nav-link" routerLink="/signup">Register</a>
      </li>
      <div [hidden] = "loggedIn == false" class="btn-group" mdbDropdown>
        <button mdbDropdownToggle type="button" mdbBtn style="color : #0892d0" class="dropdown-toggle waves-light"
                mdbWavesEffect><i class="far fa-user pr-2" aria-hidden="true"></i>
          {{username}}
        </button>

        <div class="dropdown-menu dropdown-primary" style = "background-color : #212121">
          <a class="dropdown-item" href="#">My Account</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" style = "color : #0892d0">Log Out</a>
        </div>
      </div>
    </ul>
  </div>
</nav>
