div.container {
  max-width: 550px;
  display : block;
  border:1px solid cyan;
  margin-bottom: 2%;
}

i.far fa-angry fa-3x {
  float : left;
}

p.trash_user {
  margin-top: 3%;
  font-size : large;
  color : aqua;
}

p.trash_message {
  margin-left: 13%;
  text-align : left;

}

div.trash_top_container {
  text-align : left;
}

div.col-md-12 {
  margin-left: 9%;
  text-align : left;
  margin-bottom: 3%;
}



