<div class = "container" style="margin-top : .5%;border:1px solid #424242; max-width : 650px; background-color : #303030">
<div class = "container" style = "border: 0px; ">
<app-new-trash></app-new-trash>
</div>
    <div *ngFor="let trash of trashBag" class="container" style="text-align:center; cursor: pointer;" (click)="goToTrashPage(trash.id)">
      <div class="trash_top_container">
        <a (click)="goToUserPage($event)"><p class="trash_user">
          <i class="far fa-angry fa-3x"></i> @{{trash.username}}
        </p>
        </a>
      </div>
      <p class="trash_message"> {{trash.message}} </p>
      <p class ="trash_message" style="color : #0892d0"> • {{trash.creation_date}}</p>
      <div class="col-md-12">

        <button mdbBtn type="button" style="color :#A9A9A9" outline="true" size="lg" mdbWavesEffect>
          <i class="fas fa-reply"
                                                                                   aria-hidden="true"> Reply</i>
        </button>
        <button mdbBtn type="button" style="color :#A9A9A9;" outline="true" size = "lg" mdbWavesEffect (click)="likeTrash($event,trash.id)">
          <mdb-icon far [ngClass]="{'red-text' : trash.liked}" icon="heart mr-2"></mdb-icon>{{trash.likes}}
        </button>
      </div>
    </div>
  <div style = "margin-top: 5%"></div>
</div>
