div.container {
  max-width: 90%;
  display : block;
  border:2px solid #4c4c4c;
  margin-bottom: 4%;
}

i.far fa-angry fa-3x {
  float : left;
}

p.trash_user {
  margin-top: 3%;
  font-size : large;
  color : #0892d0;
}

p.trash_message {
  word-wrap: break-word;
  margin-left: 13%;
  text-align : left;

}

div.trash_top_container {
  margin-top : 2%;
  text-align : left;
  display: table;
}

div.col-md-12 {
  margin-left: 9%;
  text-align : left;
  margin-bottom: 3%;
}

heart.mr-2{
  color : green;
}

heart.mr-2.active{
  color : red;
}


